flows.json
[{"id":"b67404283d4d30e1","type":"subflow","name":"single/double/tripple/quad clicker","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"8d29a72cd1edf467"}]}],"out":[{"x":600,"y":180,"wires":[{"id":"2340827381a46894","port":0}]},{"x":600,"y":220,"wires":[{"id":"2340827381a46894","port":1}]},{"x":600,"y":260,"wires":[{"id":"2340827381a46894","port":2}]},{"x":600,"y":300,"wires":[{"id":"2340827381a46894","port":3}]}],"env":[],"meta":{"module":"node-red--contrib-1-2-3-4_clicker","type":"clicker","version":"0.1.0","author":"paul van maanen","desc":"count the pressses of a (esphome) button pause max 1 second","keywords":"node-red esphome 1 2 3 4 pres presses single double tripple quadrouple multiple","license":"Apache-2.0"},"color":"#FF50d0","status":{"x":600,"y":80,"wires":[{"id":"4c2a9174627414b8","port":0}]}},{"id":"a8fc053540d5341a","type":"junction","z":"b67404283d4d30e1","x":240,"y":200,"wires":[["4c2a9174627414b8","2340827381a46894"]]},{"id":"4c2a9174627414b8","type":"counter","z":"b67404283d4d30e1","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":360,"y":120,"wires":[["f566ec373e67d0b4"]]},{"id":"f566ec373e67d0b4","type":"trigger","z":"b67404283d4d30e1","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":120,"wires":[["dd4881241f2745de"]]},{"id":"dd4881241f2745de","type":"change","z":"b67404283d4d30e1","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"foo","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":180,"wires":[["a8fc053540d5341a"]]},{"id":"2340827381a46894","type":"switch","z":"b67404283d4d30e1","name":"number off presses","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":220,"wires":[[],[],[],[]],"info":"Just expand the flow.count to how ever many\npresses you want/need."},{"id":"8d29a72cd1edf467","type":"switch","z":"b67404283d4d30e1","name":"filter \"unavailable\"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"unavailable","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":170,"y":120,"wires":[["4c2a9174627414b8"]],"outputLabels":["unavailable"],"info":"Just expand the flow.count to how ever many\npresses you want/need."}]