flows.json
[{"id":"5ac0628603fc469a","type":"subflow","name":"clicker 1-2-3-4","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"a1ee78819339e67e"}]}],"out":[{"x":900,"y":40,"wires":[{"id":"9c938c7f292d0423","port":0}]},{"x":955,"y":40,"wires":[{"id":"9c938c7f292d0423","port":1}]},{"x":1010,"y":40,"wires":[{"id":"9c938c7f292d0423","port":2}]},{"x":1065,"y":40,"wires":[{"id":"9c938c7f292d0423","port":3}]}],"env":[],"meta":{"module":"clicker 1,2,3,4","version":"0.0.1","author":"ftpvanmaanen@gmail.com","desc":"1..4 clicks","keywords":"node-red, click detect, 1-2-3-4"},"color":"#DDAA99"},{"id":"9fc8709bfaaacb42","type":"junction","z":"5ac0628603fc469a","x":440,"y":160,"wires":[["af91d557e7e62181","9c938c7f292d0423"]]},{"id":"af91d557e7e62181","type":"counter","z":"5ac0628603fc469a","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":560,"y":80,"wires":[["73e5d88e72f2cde4"]]},{"id":"73e5d88e72f2cde4","type":"trigger","z":"5ac0628603fc469a","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":720,"y":80,"wires":[["9c0da3cdf48eee94"]]},{"id":"9c0da3cdf48eee94","type":"change","z":"5ac0628603fc469a","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"foo","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["9fc8709bfaaacb42"]]},{"id":"9c938c7f292d0423","type":"switch","z":"5ac0628603fc469a","name":"number off presses","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":590,"y":180,"wires":[[],[],[],[]],"info":"Just expand the flow.count to how ever many\npresses you want/need."},{"id":"a1ee78819339e67e","type":"switch","z":"5ac0628603fc469a","name":"filter \"unavailable\"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"unavailable","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":370,"y":80,"wires":[["af91d557e7e62181"]],"outputLabels":["unavailable"],"info":"Just expand the flow.count to how ever many\npresses you want/need."}]